@model SkinCareShop.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Category", method: FormMethod.Post)) {
    @Html.Label("Name", "Name:")
    <br />
    @Html.TextBoxFor(b => b.Name, null, new { placeholder = "Type in the category", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.Name, "", new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-primary" type="submit">Create</button>
}